[submodule "themes/purehugo"]
	path = themes/purehugo
	url = git@github.com:dplesca/purehugo.git
[submodule "themes/hugo-uno"]
	path = themes/hugo-uno
	url = git@github.com:SenjinDarashiva/hugo-uno.git
